<%= bootstrap_form_for Thing.new, url: '#' do |f| %>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">General</div>
            <div class="panel-body">
                <label>API Key</label>
                <div class="input-group">
                    <%= f.text_field :api_key, skip_label: true, id: 'thing-api-key-{{ thing.id }}', value: "{{ thing.api_key }}", 'ng-click': "selectApiKey($event)" %>
                    <span class="input-group-btn">
                        <div class="btn btn-default copy-api-key" icon="copy" data-clipboard-target="#thing-api-key-{{ thing.id }}">
                            <%= icon 'clipboard' %>
                        </div>
                    </span>
                </div>
                <br>
                <div class="btn btn-warning" ng-click="resetApiKey()">
                    <%= icon('key')%>
                    Reset API Key
                </div>
                <br>
                <br>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Testing Area</div>
            <div class="panel-body">
                <%= text_field_tag(:value) %>       <!-- TODO: Connect LLogic -->
                <div class="btn btn-success">
                        <%= icon('send-o')%>
                        Send Value
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">

        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#http" data-toggle="tab">
                    <%= icon 'exchange'%>
                    HTTP
                </a>
            </li>
            <li>
                <a href="#mqtt" data-toggle="tab">
                    <%= icon 'exchange'%>
                    MQTT
                </a>
            </li>
             <li>
                <a href="#curl" data-toggle="tab">
                    <%= icon 'terminal'%>
                    cURL
                </a>
            </li>
        </ul>

        <div class="panel panel-default tab-content" style="padding:15px; border-top-style:hidden; border-top-left-radius:0px; border-top-right-radius:0px">
            <div class="tab-pane fade in active" id="http">
                <p class="help-block">Use a GET or POST request to add new measurements:</p>
                <div class="well well-sm" ng-click="showApiUrlTextbox($event)">
                    <div class="api-url-input" style="display: none;">
                        <input type="text" class="form-control">
                    </div>
                    <div class="api-url-text">
                        <%= api_v1_measurements_url %><br>
                        ?api_key=<span style="color:green">{{ thing.api_key }}</span><br>
                        &amp;value=<span style="color:green">{{ thing.randomValue }}</span><br>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="mqtt">
                <p class="help-block">Install Mosquitto MQTT Client and run the following command in your terminal</p>
                <div class="well well-sm" ng-click="showApiUrlTextbox($event)">
                    <div class="api-url-input" style="display: none;">
                        <input type="text" class="form-control">
                    </div>
                    <div class="api-url-text">
                    mosquitto_pub -h mqtt.undercontrol.io -t topic -m things/measurements/<span style="color:green">{{ thing.api_key }}</span> -m <span style="color:green">{{ thing.randomValue }}</span>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="curl">
                cURL is a tool to transfer data from or to a server, using one of the supported protocols. This example provides a HTTP request for easily posting a new measurement to your thing via    terminal.
                <br>
                <br>
                <div class="well well-sm">
                    curl -s -v '<%= api_v1_measurements_url %>' -XPOST -d 'api_key=<span style="color:green">{{ thing.api_key }}</span>&value=<span style="color:green">35</span>'
                </div>
            </div>

            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<% end %>
