<%= bootstrap_form_for Thing.new, url: '#', html: {class: 'settings'} do |f| %>
<div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">General</div>
                <div class="panel-body">
                    <div class="col-lg-12">
                        <%= f.text_field :name, 'ng-model': "thing.name" %>
                        <%= f.text_field :description, 'ng-model': "thing.description" %>
                        <%= f.text_field :sensor_type, 'ng-model': "thing.sensor_type" %>
                        <%= f.text_field :unit, 'ng-model': "thing.unit" %>
                    </div>
                    <!-- <div class="col-lg-6">
                        <%= f.number_field :range_min, step: 0.001, 'ng-model': "thing.range_min" %>
                        <%= f.number_field :range_max, step: 0.001, 'ng-model': "thing.range_max" %>
                    </div> -->
                </div>
            </div>
        </div>
        
        <div class="clearfix"></div>
</div>
<%= render partial: 'thing_save' %>
<% end %>
