<%= bootstrap_form_for Thing.new, url: '#', html: {class: 'settings'} do |f| %>
<div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">General</div>
                <div class="panel-body">
                    <%= f.text_field :name, 'ng-model': "thing.name" %>
                    <%= f.text_field :description, 'ng-model': "thing.description" %>
                    <%= f.number_field :range_min, step: 0.001, 'ng-model': "thing.range_min" %>
                    <%= f.number_field :range_max, step: 0.001, 'ng-model': "thing.range_max" %>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Alarms</div>
                <div class="panel-body">
                    <%= f.text_field :alarm_action, 'ng-model': "thing.alarm_action" %>
                    <%= f.number_field :alarm_min, step: 0.001, 'ng-model': "thing.alarm_min" %>
                    <%= f.number_field :alarm_max, step: 0.001, 'ng-model': "thing.alarm_max" %>
                    <%= f.number_field :alarm_threshold, 'ng-model': "thing.alarm_threshold" %>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
</div>
<div class="panel-footer">
    <button class="settings-save btn btn-success" ng-click="saveThing($event)">
        <%= icon 'download' %>
        Save
    </button>
    <span class="settings-save-success">
        <%= icon 'check' %>
        Saved!
    </span>
</div>
<% end %>
