<%= bootstrap_form_for thing, url: '#' do |f| %>
<div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">General</div>
                <div class="panel-body">
                    <%= f.text_field :name %>
                    <%= f.text_field :description %>
                    <%= f.number_field :range_min %>
                    <%= f.number_field :range_max %>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Alarms</div>
                <div class="panel-body">
                    <%= f.text_field :alarm_action %>
                    <%= f.number_field :alarm_min %>
                    <%= f.number_field :alarm_max %>
                    <%= f.number_field :alarm_threshold %>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
</div>
<div class="panel-footer">
    <button class="btn btn-success">
        <%= icon('download')%>
        Save
    </button>
</div>
<% end %>
