<div id="page-wrapper">
    <%= render partial: 'navbar' %>
    <% @things.each do |thing| %>
    <div class="thing" data-id="<%= thing.id %>">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3><%= thing.name%></h3>
                <i style="color: #999"><%= thing.description%></i>
            </div>
            <div class="panel-body" style="min-height: 500px">
                <%= render partial: 'panelbar' %>
                <br>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="monitor">
                        <%= render partial: 'monitor' %>
                    </div>
                    <div class="tab-pane fade" id="settings">
                        <%= render partial: 'settings', locals: { thing: thing } %>
                    </div>
                    <div class="tab-pane fade" id="api">
                        <%= render partial: 'api', locals: { thing: thing } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% end %>
</div>