<div ng-controller="DashboardController">
    <%= render partial: 'navbar' %>
    <div ng-repeat="(key, thing) in things" ng-controller="ThingController">
        <div id="thing-{{ thing.id }}" class="thing">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h3>{{ thing.name }}</h3>
                        <i style="color: #999">{{ thing.description }}</i>
                    </div>
                    <div class="pull-right">
                        <h3 style="text-align: right">
                            <i class="last-value-change fa fa-arrow-{{ lastChange }}"></i>
                            {{ lastValue }}
                        </h3>
                        <i style="color: #999">
                            {{ lastUpdated }}
                        </i>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body" style="min-height: 500px">
                    <%= render partial: 'thing_nav' %>
                    <br>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="monitor-{{ thing.id }}">
                            <%= render partial: 'monitor' %>
                        </div>
                        <div class="tab-pane fade" id="settings-{{ thing.id }}">
                            <%= render partial: 'settings' %>
                        </div>
                        <div class="tab-pane fade" id="action-{{ thing.id }}">
                            <%= render partial: 'action' %>
                        </div>
                        <div class="tab-pane fade" id="api-{{ thing.id }}">
                            <%= render partial: 'api' %>
                        </div>
                        <div class="tab-pane fade" id="sdk-{{ thing.id }}">
                            <%= render partial: 'sdk' %>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>