<link rel='stylesheet' id='redux-google-fonts-stm_option-css'  href='https://fonts.googleapis.com/css?family=Montserrat%3A400%2C700%7COpen+Sans%3A300%2C400%2C600%2C700%2C800%2C300italic%2C400italic%2C600italic%2C700italic%2C800italic&#038;subset=latin&#038;ver=1458838338' type='text/css' media='all' />
<div id="header" class="transparent_header_off" data-color="">
    <!-- Check if transparent header chosen -->
    <div class="header_default">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="logo-unit">
                        <a href="/">
                            <%= image_tag 'undercontrol402x60.png', class: 'img-responsive logo_transparent_static visible', style: 'width: 253px'%>
                        </a>
                    </div>
                    <!-- Navbar toggle MOBILE -->
                    <button type="button" class="navbar-toggle collapsed hidden-lg hidden-md" data-toggle="collapse" data-target="#header_menu_toggler">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div> <!-- md-3 -->
                <!-- Mobile menu -->
                <div class="col-xs-12 col-sm-12 visible-xs visible-sm">
                    <div class="collapse navbar-collapse header-menu-mobile" id="header_menu_toggler">
                        <ul class="header-menu clearfix">
                            <li id="menu-item-1510" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-1510"><a href="<%=home_url%>">Home</a><div class="magic_line" style="max-width: 0px;"></div></li>
        <li id="menu-item-1588" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1588"><a href="/">Platform</a><div class="magic_line" style="max-width: 0px;"></div></li>
        <li id="menu-item-1519" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1519"><a href="<%=home_url%>solutions">Solutions</a><div class="magic_line" style="max-width: 0px;"></div></li>
        <li id="menu-item-1587" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1587"><a href="<%=home_url%>community/">Community</a><div class="magic_line" style="max-width: 0px;"></div></li>
        <li id="menu-item-1517" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1517"><a href="<%=home_url%>blog?layout=grid">Blog</a><div class="magic_line" style="max-width: 0px;"></div></li>
                            <li>
                                <form role="search" method="get" id="searchform-mobile" action="<%=home_url%>">
                                    <div class="search-wrapper">
                                        <input placeholder="Search..." type="text" class="form-control search-input" value="" name="s">
                                        <button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            <div class="magic_line" style="max-width: 0px;"></div></li>
                        </ul>
                    </div>
                </div>
                <!-- Desktop menu -->
                <div class="col-md-8 col-md-offset-1 col-sm-9 col-sm-offset-0 hidden-xs hidden-sm">
                    <div class="header_main_menu_wrapper clearfix" style="margin-top:9px;">
                        <div class="collapse navbar-collapse pull-right">
                            <ul class="header-menu clearfix">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-1510"><a href="<%=home_url%>">Home</a><div class="magic_line" style="max-width: 45px;"></div></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1588"><a href="/">Platform</a><div class="magic_line line_visible" style="max-width: 79px;"></div></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1519"><a href="<%=home_url%>solutions">Solutions</a><div class="magic_line" style="max-width: 84px;"></div></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1587"><a href="<%=home_url%>community/">Community</a><div class="magic_line" style="max-width: 92px;"></div></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1517"><a href="<%=home_url%>blog?layout=grid">Blog</a><div class="magic_line" style="max-width: 39px;"></div></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- md-8 desk menu -->
            </div> <!-- row -->
        </div> <!-- container -->
    </div>
</div>